################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj/Release/net8.0
/.vs/test/FileContentIndex
*.wsuo
*.json
*.sqlite
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.assets.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.csproj.AssemblyReference.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.dll
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.exe
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.pdb
/ConsoleApp1/.vs/ProjectEvaluation/books.metadata.v7.bin
/ConsoleApp1/.vs/ProjectEvaluation/books.projects.v7.bin
/ConsoleApp1/.vs/books/v17/.futdcache.v2
/ConsoleApp1/.vs/books/v17/.suo
/ConsoleApp1/.vs/books/DesignTimeBuild/.dtbcache.v2
/ConsoleApp1/.vs/books/FileContentIndex/024d212e-86e2-408e-aa15-3f6f97d3f160.vsidx
/ConsoleApp1/.vs/books/FileContentIndex/bd74b6cd-20bf-4a49-bb7f-7cd30b7c4222.vsidx
/ConsoleApp1/.vs/books/FileContentIndex/d7087830-2c83-45f5-a509-93c02022c236.vsidx
/ConsoleApp1/.vs/books/FileContentIndex/0a011938-bd0a-4765-b92e-deb3ff6a9111.vsidx
/ConsoleApp1/.vs/books/FileContentIndex/15029552-3c68-4dbc-86f0-d130f3a1942d.vsidx
/ConsoleApp1/.vs/books/FileContentIndex/c2299842-b8bb-4378-9950-74fe24759559.vsidx
/ConsoleApp1/ConsoleApp1/obj/x64/Debug/net8.0/refint/books.dll
/ConsoleApp1/ConsoleApp1/obj/x64/Debug/net8.0/ref/books.dll
/ConsoleApp1/ConsoleApp1/obj/x64/Debug/net8.0
/ConsoleApp1/.vs/books/FileContentIndex/c7457b89-d1e2-4617-87e1-c60b0face0d9.vsidx
/ConsoleApp1/ConsoleApp1/obj/x64/Debug/net8.0/books.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/refint/books.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ref/books.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/apphost.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/books.dll
