################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj/Release/net8.0
/.vs/test/FileContentIndex
*.wsuo
*.json
*.sqlite
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.assets.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.csproj.AssemblyReference.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/books.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.dll
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.exe
/ConsoleApp1/ConsoleApp1/bin/x64/Debug/net8.0/books.pdb
/ConsoleApp1/.vs/ProjectEvaluation/books.metadata.v7.bin
/ConsoleApp1/.vs/ProjectEvaluation/books.projects.v7.bin
/ConsoleApp1/.vs/books/v17/.futdcache.v2
/ConsoleApp1/.vs/books/v17/.suo
/ConsoleApp1/.vs/books/DesignTimeBuild/.dtbcache.v2
